<div  class="currentPage">
    <div class="">
        <div class="grid-x baseText">
            <h3>Current Work</h3>
            <br/>
            <div class="" style="color:rgb(214, 252, 209);">
                <h4>
                    These works are as moments in a story, they are in motion, there is action. 
                    There was a before, and there will be an after.  
                                        <br/><br/>
                    They are of those specail moments - the 
                    excitement of discovering a new idea, the moment when two people touch, 
                    the precarious moments of choice that will determine the future. 
                                        <br/><br/>
                    These works are of the passion, the joy, and the wonder of being alive.
                </h4>
            </div>
            <br/>
        </div>
       
    </div>
   
</div>
<div class="" style="background-color: blanchedalmond; ">
    <div *ngFor="let currentWork of currentWorkList">
        <div id="" class="grid-x" style="padding-left: 30px; padding-right: 30px; padding-top: 30px;">
            <div class="cell medium-4 large-2">
                <input style="margin-left: 0px; margin-right: 10px;" class="workItem" type="image" [src]="currentWork.backGroundUrl" (click)="onSelect(currentWork)" [routerLink]="['workOne', currentWork.projectNumber]">
            </div>
            <div class="cell auto">
                    <span><h3>{{currentWork.title}}</h3></span>
                    <span><h5>{{currentWork.description}}(<a type="" (click)="onSelect(currentWork)" [routerLink]="['workOne', currentWork.projectNumber]">More...</a>)</h5></span>
            </div>
        </div>
    </div>
</div>