<div  class="currentPage">
    <div class="">
        <div class="grid-x baseText">
            <h3>Current Work</h3>
            <br/>
            <div class="">
                <h4>
                    These works are as moments in a story, they are in motion, there is action. 
                    There was a before, and there will be an after.  
                                        <br/><br/>
                    They are of those specail moments - the 
                    excitement of discovering a new idea, the moment when two people touch, 
                    the precarious moments of choice that will determine the future. 
                                        <br/><br/>
                    These works are of the passion, the joy, and the wonder of being alive.
                </h4>
            </div>
            <br/>
            <div id="wrap">
                <div id="bar" class="grid-x evenly" style="padding-left: 30px; padding-right: 30px; padding-top: 50px;">
                    <div *ngFor="let currentWork of currentWorkList">
                        <input style="margin-left: 0px; margin-right: 0px;" class="cell small-4 workItem" type="image" [src]="currentWork.backGroundUrl" (click)="onSelect(currentWork)" [routerLink]="['workOne', currentWork.projectNumber]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>