<div class="">
    <div class="progressPage baseText" width="1000px">
     <!--   <h3>In Progress</h3> -->
        <div class="grid-x" *ngFor="let progress of inProgress">
                
            <div class="image cell large-12" > 
                <h3><i>{{progress.title}}</i></h3>
            </div>
            <div class="image cell large-12"> 
            <div class="image" style="width:1200px" *ngFor="let picture of progress.pictureUrls">
                <img [src]="picture" height="200" width="200" style="padding: 15px; float: left;">
            </div>  
            </div>
        
            <div class="descText cell large-12" style="color: rgb(230, 219, 163, 1); ">
            {{progress.description}}
            </div>
            <div class="image cell large-12" > 
                <hr>
            </div>
        </div>
    </div>
</div>