<div id="workPic" class="workPic" >
    <div style="overflow: hidden;" >
     <!--   <ul  style="margin-left: 0; ">
            <li >
                <div (click)="leftClick()" style="height: 500px; float: left" class="leftArrow selection" ></div>
            </li>
            <li > 
                <div class="cell" style="width: 420px;"></div> 
            </li>
            <li >
                <div (click)="rightClick()" style="height: 500px; float: right" class="rightArrow selection "></div>
            </li>
        </ul> -->
        <div (click)="leftClick()" style="height: 500px; float: left" class="leftArrow selection" ></div>
        <div (click)="rightClick()" style="height: 500px; float: right" class="rightArrow selection "></div>
    </div>
</div>