


<div class="col-md-6 col-md-offset-3">
    <p>Modal Window</p>
</div>
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <img [src]="bodyImage">
            <p>
           <!--     Home page text: <input type="text" [(ngModel)]="bodyText" />  -->
            </p> 
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
<div id="background" class="modal-background"></div>
