<button (click)="showPopover1(false)" width="100px" (mouseover)="mouseOver()" (mouseout)="mouseOut()" >
    <div   >
        <img id="thumbnail" [src]="thumbnails" [class]="poButton">
    </div>
   
</button>

<div [hidden]="hidePopover" class="pictureContainer"  (mouseleave)="showPopover1(true)">
    
    <div class="baseText" style="position:fixed; " (click)="showPopover1(true)">
        <a class="close linkOver"  (mouseover)="linkOver()" (mouseout)="linkOut()" >Close</a>
                
        <img [src]="picture" [class]="poPicture">
        
        <div class="pictureDescription">
            {{description}}
        </div>
        
    </div>
    
    
</div>