<div class="contactPage baseText">
<h1>Contact Me</h1>
<form #contactMeForm="ngForm" (ngSubmit)="logText(contactMeForm.value)" autocomplete="off" novalidate>
    <div clas="baseText">
        I started working with sheet brass because it was a way to create a human form that I could do.  Along the way, I stumbled across the ways that others approached the same problems.  I am fascinated and inspired by all of the very unique and personal ways that so many have found to express themselves.<br /> I would love to hear from you!
    </div>
    <div class="contactPage">
    <label for="email" class="baseText">Email Address:</label>
    <input #clearEmail (ngModel)="email" name="email" placeholder="email address..." style="width: 50%"  required>
    
    <br /><br />

    <div width="100px">
    <label for="messege" class="baseText">Messege:</label>
    <textarea #clearMsg  [(ngModel)]="messege" name="messege" placeholder="messege..." rows="15" cols="100" style="width: 50%"></textarea><br/>
    <input type="submit" value="Send" class="button" />
    <input type="button" value="Clear" class="button" (click)="clearEmail.value = ''; clearMsg.value = ''"/>
    </div>
</div>
</form>
</div>
