<div class="aboutPage">
<div class="baseText">

<!--
<ul>
<li *ngFor="let story of aboutMe" class="aboutText" style="list-style-type: none">
    <img [src]="story.pictureUrl" height="200px" class="pic"  >
    {{story.text}}
    <hr>   
</li>
</ul>
-->
</div>
</div>
<div class="baseText" style="margin-left: 100px; margin-right: 100px">
    <h3><u>About Me</u></h3>
    My mother was a moderately successful amature artist. 
     <!-- <img width="90px" height="90px" src="/assets/aboutMe/mom.JPG" > .  -->
    <popoverContent [poIndex]="0" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover0"></popoverContent>,
     Watching her I did get the idea that art was something that could be done by people like me. 
<br/><br/>
    I went to college at the University of Texas, and spent a couple of years as an art major. Eventually I ended up with a degree in Government. Later I studied painting at the Corcoran School of Art in Washington, D.C., and then photography 
    <popoverContent [poIndex]="2" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover2"></popoverContent>
    and etching 
    <popoverContent [poIndex]="1" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover1"></popoverContent>
    at the Baltimore Art Institute. 
<br/><br/>
    As my education did not prepare me for an actual job, I ended up in sales. 
    After too many years of frustration, I decided to was time for a change, 
    and begain a new career in computer programming. I experimented with computer images
    <popoverContent [poIndex]="3" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover3"></popoverContent> but I missed direcly working with the materials in the creative process.  
<br/><br/>
    After many years, I decided to try painting again. 
    <popoverContent [poIndex]="6" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover6"></popoverContent>
    Some of the paints and brushes I had with me had been my mothers. I had a number ideas, and emotions that I wanted to explore. 
<br/><br/>
    In trying to set up models for painting, I started making small human figures in clay. 
    <popoverContent [poIndex]="4" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover4"></popoverContent>  
    I liked the way the figures worked together in space, the interaction between figures 
    suggested moments it a story. The ideas seemed to work better as life size structures 
    inhabiting their own space.  
<br/><br/>
    I started working with sheet brass because it was a way to create a human form that I could do.
    <popoverContent [poIndex]="5" [poButton]="aboutButton" [poPicture]="aboutPicture" [thumbNail]="popover5"></popoverContent>  
    I found that I enjoyed the manual process of creating the organic human shapes from rigid industrial materials. 
    The surface exposes all of the assembled joints and pieces, yet from a distance the individual 
    pieces meld into a more human element.
<br/><br/><br/><br/>
</div>