

<div style="max-width: 1200px; height: 400px">
    <div style=" position: absolute;  z-index:1; margin-right: 5pc; width: 30%; margin-left: 50%">
        <div class="" class="display">
            <div >
                <div class="fadein" style="">
                    <img [src]="homePage1" class="" style="position: float; margin-right: 50px; max-height: 380px; ;">
                    <img [src]="homePage2" class="hideImg" style="position: float; margin-right: 50px; max-height: 420px; max-width:400px;">
                    <img [src]="homePage1" class="" style="position: float; margin-right: 50px; max-height: 380px; max-width:400px;">
                    <img [src]="homePage2" class="" style="position: float; margin-right: 50px; max-height: 420px; max-width:400px;">
                </div>
            </div>
        </div>
    </div>

    <div style="position: absolute; z-index:2; top: 50px; left: 50px; max-height: 400px;" > 
             
        <div class="textName move" style="margin-left: 20vmin; margin-top: 2pc" >1234567890 v2 </div> 
        <div class="textSlogan  moveSlogan " style="padding-right: auto; padding-left:40vmin; padding-bottom: 20px"> Motion is Emotion</div>
        <div class="text2 fade" style="margin-left: 5pc; margin-bottom: 70px; margin-top:1pc; margin-right: 30pc" >Movement never lies. 
            It is a barometer telling the state of the soul's weather to all who can read it."
            <p style="margin-top: 2pc"> Martha Graham</p>
        </div> 

        <div class="homePageSpace"></div>
    </div> 
</div>    
 
<div class="grid-x" style="background-color: blanchedalmond; height: 500px">
    <div class="cell medium-4 large-4" style="width: 30%; margin-left: 2rem; padding-top: 2pc;">
        <img [src]="geneImage">
    </div>

    <div class="cell auto"  style="text-align: right;  width: 45%; padding-top: 5pc; 
        color: black; padding-right: 3pc; padding-left:2pc; font-size: 10vw ;">
        <h4><u><p style="text-align: center">A Few Words About Me</p></u></h4> 
        <h5>   My path to art has followed many twist and turns. When I was younger, 
            the artist life looked excitng, the actual work was not. Of course 
            I also had to feed myself somehow. After going through several careers 
            and detours, I returned to art, this time with a life of experiences to explore.</h5>
    </div> 

    <div class="cell auto" style="text-align: left;  max-width: 25%; padding-top: 5pc; 
        background-color: rgba(230, 219, 163, 0.788); color: black;  font-size: larger ;">
        <div style="text-align: center"><h2><p><i>Fun things...</i></p></h2> 
        <h4><u>
            <div class="funLink link" >The Iron Man</div>
            <div class="funLink link" >Sail Away</div>
            <div class="funLink link" >Fun Places</div>
            <div class="funLink link" >Useful Resouces</div>
        </u></h4> 
    </div> 
    </div> 
   
</div>

