<div class="grid-x ">
    <div class="cell small-12 text homePageSpace"></div>

    <div class="cell small-12" >
        <div class="cell textName homePage move">Gene Strickland </div>
    </div>
    <div class="cell small-2 auto" style="margin-right: 5%;">
        <div class="cell textSlogan homePage moveSlogan "> Motion is emotion</div>
        <div class="" style="height:150px;"></div>
        <div class="text2 small-12 homePage fade">"The beauty is forever there before us. Dance with a glorious abandonment, knowing that our wildest enthusiasm cannot
            more than brush the hem of the real beauty and joy and wonder that is always there."
            <br>Margaret Prescott Montague
        </div>
        <div class="cell homePageSpace"></div>
    </div>
  <!--  <div class="cell small-1 auto"></div> -->
    <div class="cell small-9 " class="display">
        <div >
            <div class="fadein" style="border-radius: 100%; margin-right: 70px">
                <img [src]="picture1" class="imageRounded">
                <img [src]="picture2" class="imageRounded">
                <img [src]="picture3" class="imageRounded">
            </div>
        </div>
    </div>
 <!--   <div class="cell small-1" ></div> -->
</div>