
.aboutPage {
    margin-right: 80px;
    margin-left: 40px;
}

.pic {
    float: left;
    border: 5px solid rgba(226, 250, 219, 0.753);
    border-radius: 10px 10px 10px 10px;
    border-style: outset;
    margin-right: 20px;
}
