.contactPage {
    margin-right: 80px;
    margin-left: 40px;
}


.button {
      margin-right: 40px;
      background-color:  rgb(149, 247, 198);
      border: 4px;
      border-color: rgb(90, 136, 113);
      border-radius: 10%;
      color: rgb(31, 146, 102);
}
