

#wrap {
    position: relative;
    align-content: center;
  }
  
  .currentPage{
    /*height: 300px; */
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    
  }
 
  #bar {
    /* padding-top: 1em; */
    padding-bottom: 5em;
    width:90vw;
    height: 400px;
    top: 0;
    left:0px;
    /* right:7.5%; /*right:7.5%; /* instead of margin*/
    background-color: rgba(199, 233, 176, 0.5); 
    border-radius: 20px 20px 20px 20px;
      }

  .evenly {
    display:flex;
    justify-content:space-between;
    }
  
  .evenly div {
    white-space:nowrap;
    
  }
  .workItem {
    border: 5px solid rgba(226, 250, 219, 0.753);
    border-radius: 10px 10px 10px 10px;
    border-style: outset;
    height: 165px; 
    width: 135px; 
    /* margin-left: 30px;  */
   /* margin-right: 90px;  */
  }
  .margins {
    margin-left: 0;
    margin-right: 200;
    padding-left: 0;
    padding-right: 200;
  }