/* Comment */

.homePage{
    padding-left: 80px; 
 }

.text{
    font: 4em sans-serif;
    color: rgb(1, 53, 35);
    text-align: left;
 }
 
 .textSlogan{
  font: 2.5em sans-serif;
  color: rgb(97, 255, 202);
 /* margin-left: 20%; */
  margin-top: 30px;
  vertical-align: text-top;
  text-shadow: 5px;
}
  
.textName{
  font: 3em sans-serif;
  color: rgb(97, 255, 202);
  text-align: left;
  vertical-align: text-top;
  text-shadow: 5px;
}

.text2{
    font: 2.5vmax sans-serif;
    color: rgb(97, 255, 202);
    text-align: right;
    vertical-align: bottom;
    font-style: italic;
    height: 500;
 }
 
.homePageSpace{
  text-align: center;
  margin-bottom: 20px;
  max-height:max-content;
}
  
.imageRounded {
    margin-top: 0px;
    border-radius:20em ; 
    box-shadow: 10px 10px 10px 10px #0000008a;
    border: 5px solid rgba(51, 73, 67, 0.753);
    border-radius: 10px 10px 10px 10px;
    
}
  .display {
    margin: 20px;
    width:450px; 
    height:498px; 
    vertical-align: top;
  }

  .funLink {
    padding-top: 20px;
    color: maroon;
    
  }

  .funColor {
    font-size: larger; 
  }

  .funMouseOver {
    font-size: xx-large; 
  }