.workButton {
    max-width: 150px;
    max-height: 150px;
    margin-left: 20px; 
    margin-right: 20px; 
    overflow:auto; 
 /*   border-color: aqua; */
    border-width: 2px; 
    border-style: solid;
 /*   width: 100px; */
    z-index: 3000;
}

.aboutButton {
    max-width: 60px;
    max-height: 60px;
    overflow:auto; 
    border-color: rgb(68, 67, 67); 
    border-width: 2px; 
    border-style: solid;
    border-radius: 5px;
}

.aboutPicture {
    border-color: rgb(68, 67, 67); 
    border-width: 5px; 
    border-style: solid; 
    background-color: antiquewhite; 
    overflow:auto; 
    top:40px; 
    left:40px; 
    max-width:600px; 
    max-height: 600px; 
    z-index: 100;
}

.pictureContainer {
    position:fixed; 
    top:40px; 
    left:40px; 
}

.pictureDescription{
    position: absolute; 
    z-index: 200; 
    bottom: 20px; 
    left: 50px; 
    font-size: 25px; 
    font-weight: normal;
    color: brown;
}

.linkOver {
    color:rgb(95, 226, 43);
}

.linkOut {
    color:red(95, 226, 43);
}

.close{
    position: absolute; 
    z-index: 200; 
    top: 10px; 
    right: 20px; 
    font-size: 25px; 
    font-weight: normal;
}

.mouseOver{
    border-color: rgb(251, 253, 137); 
  
}

.mouseOut {
    border-color: aqua;
}




