/* You can add global styles to this file, and also import other style files */

.thumbnail {
  opacity: 1;
}

body { 
  display: block; 
  padding: 0.1em;
  margin: 0.1em; 
  
  overflow-x: hidden;
} 

.baseText {
  color: rgb(97, 255, 202);
  font-size: 1.6em;
}

a.menutab  {
  /*  border-left: 2px solid green;
    border-right: 2px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px 10px 0px 0px;
    text-align: center; */
    width: 170px;
    height: 50px;
    color: rgba(230, 219, 163, 0.788);
    font-size: .7em;
    
}

.menuline {
    height: 50px;
}

.fixed {
    position:relative;
}

.position {
  position: absolute;
  bottom: 8px;
  left: 50px;
  font-size: 18px;
}

.bodyclass {
    
   /* background-color: grey; */
    background-repeat: no-repeat;
    background-size: cover;

    background-position: left;
    background-position: top;

    max-width: 1200px;
   
   /* min-height: 1000px; */
    position: relative;
    top: 0px;
    left: 0px;
    background-size:100vmax;
}   

.margins {
    margin-left: 200;
    margin-right: 200;
    padding-left: 200;
    padding-right: 200;
}
 
.space {
    height: 30vh; 
    min-height: 50px; 
}

.fade {
    animation-name: fadeIn;
    animation-duration: 8s;
}

.fadeLink {
    animation-name: fadeIn;
    animation-duration: 70s;
    color: rgb(97, 255, 202);
}

.noFade {
  animation-name: noFade;
}

.move {
  animation-name: translateY;
  animation-duration: 4s;
}

.moveSlogan {
  animation-name: translateY;
  animation-duration: 8s;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; }}
.fade-in {
  opacity:0;
  animation:fadeIn ease-in 2;
  animation-fill-mode:forwards;
  animation-duration:0.2s;            
}

@keyframes noFade { }
.fade-in {
  opacity:1;
}

@keyframes translateY {
  from {text-indent: 200px}
  to { text-indent: 0px }
}

/*Video --------------------------- */
.videoDiv{
  width: 700px;
  height:500px;
  margin:0 auto;
}

/* ELEMENTS + UTILITY */

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* VIDEODISPLAY */
#videoDisplay {
    background-color: black;
}


/* CONTROLBAR */
#playerToolBar {
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2em;
    color: #b8b8bb;
}
#playerToolBar .btn {
    border-radius:0px;
    width: 40px;
    height:40px;
}
#playerToolBar .glyphicon {
    top: -1px;
    left:-5px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#videoTime {
    position: relative;
    top:3px;
    left:12px;
    font-size: 1.1em;
    color: #c0c0c0;
}


/* OVERLAYS */
#bigPlayButton {
    background-color: rgba(0, 0, 0, 0.78);
    width:100px;
    height:100px;
    position:absolute;
    font-size: 3.2em;
    cursor: pointer;
    text-align: center;
}
#videoTitle {
    position: absolute;
    top:0px;
    left:0px;
    font-size: 1.3em;
    color: whitesmoke;
    width:100%;
    margin:5px;
    margin-left:10px;
    text-shadow: 1px 1px #333333;
}

/* PROGRESSBAR */
#progressMeterFull, #progressMeter {
    cursor: pointer;
    height:11px;
    margin:0;
}
#progressMeterFull {
    background-color: #5e6368;
    position: relative;
}
#progressMeter {
    background-color: #5d1f1c;
    position: absolute;
    top:0px;
    left:0px;
    width:0px;
}

#thumbScrubber {
    background-color: #b8b8bb;
    border: 1px solid #3d3d3d;
    width:15px;
    height:15px;
    border-radius: 15px;
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor: pointer;
}


