
.workPage{
   
    margin-left: 0px;
    margin-top: 30px;
    padding-right: 0px;
    max-height: max-content;
  }

  .title {
    
    vertical-align: middle;
    padding-top: 0px; 
    padding-left: 5%;
    font-family: serif;
  }

  .description {
    text-align: left;
    vertical-align: middle;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-family: sans-serif ;
    font-size: 120%;
    padding-right: 50px;
    padding-left: 5%;
  }

.workPageSpace {
    padding-left: 20px;
    margin-top: 30vmin;
    max-height: max-content;
  }

  #carouselPage ul li{
      display:inline-flex;
      list-style: none;
      padding-left: 0;
      padding-right: 0;
  }

  .selection{
    height:fit-content;
    width: 100px; 
  /*  background-color:  rgb(92, 91, 97);  */
    margin-left: unset;
    display: flex;
    align-items:unset;
    opacity: 1;
}

.selectionLink{
    display: flex;
    align-items: unset;
}

.background {
    min-width: 100%hmax; 
    height: 100%; 
    left: 20px; 
    top: 20px; 
    z-index: 0;
}

.workPic {
    border: 5px solid rgba(162, 206, 170, 0.753);
    border-radius: 4%; 
    box-shadow: 10px 10px 10px 10px #0000008a;
     max-width: 450px;
     max-height: 500px;
     align-self:auto;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-color:  rgb(97, 109, 99, 0.73);
   
 }

.rightArrow {
    background-image: url("../images/rightArrowSmall.png");
    background-position: center;
    background-repeat: no-repeat;
}

.leftArrow {
    background-image: url("../images/leftArrowSmall.png");
    background-position: center;
    background-repeat: no-repeat;
}
