<div style="height: 15px"></div>
<div class="grid-container fluid menuline ">
    <div class="">
        <div class=""></div>
        <h4>
        <div class="" >
            <div class="" style="margin: auto; width: 90%; padding-left: 10%; font-size:1.5vw;">
                <ul class="menu">
                    <li (mouseover)="onMouseOver('tab1')" (mouseout)="onMouseOut('tab1')" > <a id="tab1" class="tablink" [routerLink]="['home']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
                    <li (mouseover)="onMouseOver('tab2')" (mouseout)="onMouseOut('tab2')" > <a id="tab2"  class="tablink" [routerLink]="['currentWork']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">CURRENT WORK</a></li>
                    <li (mouseover)="onMouseOver('tab3')" (mouseout)="onMouseOut('tab3')" > <a id="tab3"  class="tablink" [routerLink]="['progress']" 
                        routerLinkActive="active">WORK IN PROGRESS</a></li>
                    <li (mouseover)="onMouseOver('tab4')" (mouseout)="onMouseOut('tab4')" > <a id="tab4"  class="tablink" [routerLink]="['aboutMe']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">BIO</a></li>
                    <li (mouseover)="onMouseOver('tab5')" (mouseout)="onMouseOut('tab5')" > <a id="tab5"  class="tablink" [routerLink]="['contactMe']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">LET'S TALK</a></li>
               </ul>
            </div>
        </div>
        </h4>
        <div class="auto"></div>
    </div>
</div>

