<div style="height: 15px"></div>
<div class="grid-container fluid menuline ">
    <div class="grid-x ">
        <div class="small-2 "></div>
        <h4>
        <div class="small-10 cell fixed ">
            <div class="columns" (click)="setBaseImage()">
                <ul class="menu">
                    <li class="menutab" [hover]="hover(li)"> <a class="tablink" [routerLink]="['home']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
                    <li class="menutab"> <a class="tablink" [routerLink]="['currentWork']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">CURRENT WORK</a></li>
                    <li class="menutab"><a class="tablink" [routerLink]="['progress']" 
                        routerLinkActive="active">WORK IN PROGRESS</a></li>
                    <li class="menutab"><a class="tablink" [routerLink]="['aboutMe']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">BIO</a></li>
                    <li class="menutab"> <a class="tablink" [routerLink]="['contactMe']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">LET'S TALK</a></li>
                </ul>
            </div>
        </div>
        </h4>
        <div class="auto"></div>
    </div>
</div>

