
 
<div class="workPage">
    <div class="" >
        <div class="" style="height: 400px;">
            <div class="title baseText" >
                <h3>Work One</h3>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <div align="right"
                        style="  width:40%; max-height: 70%px; position: right;  float:right;  bottom:2%; right: 2%; margin-right: 5%">
                        
                        <video style="align-self: center; " muted width="342" height="600" style="z-index: 1;" 
                            preload="auto" loop="loop"  autoplay=""
                            style=" border-color: aqua; border-width: 5px; border-style: solid;"> 
                            <source [src]="videoImage" type="video/mp4"> 
                        </video>  
        
                    </div>
                    <div class="description baseText" style="max-width: 100%; max-height: 400px; font: 1.8vmax sans-serif;" >
                        <div [innerHTML]="description"></div> 
                    </div>
                </div>
            </div>
            
        </div>
        <br/>
        <div style="background-color: rgba(230, 219, 163, 0.788); height: 300px; width: 100%; ;">
        </div>
    </div>
    <br>

    <div style="position: absolute; bottom:15%; left: 10%;  z-index: 20;">
        <div *ngFor="let work of workData, let i = index" style="float:left; z-index: 3;" >
                <popoverContent [poIndex]="i" [poPicture]="workPicture"  [poButton]="workButton" 
                    [thumbNail]="work.pictureThumbnail" >{{i}}</popoverContent> 
        </div>  
    </div>

   


 <!--    <div  class="" style="align-content: center;   z-index: -1" >
   
      <video style="align-self: center; " muted width="342" height="600" style="z-index: 1;" 
            preload="auto" loop="loop"  autoplay=""
            style=" border-color: aqua; border-width: 5px; border-style: solid;"> 
            <source [src]="videoImage" type="video/mp4"> 
        </video>  
        <img align="right" [src]="image" class="" style="max-height: 90%; width:60%; position: absolute; bottom:0%; right: 2%; margin-right: 5%">
              
    </div>  -->
</div>

l